.first {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: oblique;
    color: white;
    border: none;
    height: 50px;
    width: 200px;
    border-radius: 0.44rem;
    background-color: black;
}
div > p {
    text-align: center;
    font-size: 1.2rem;
}

h2 ~ h4 {
    background-color: yellowgreen;
    color: yellow;
}

h4 + h3 {
    border: 2.5px solid black;
}

.pseudo {
    height: 3vh;
    border: 0.3rem inset orange;
    width: 250px;
}

.pseudo:hover {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    justify-content: center;
    box-shadow: 0 0 20px green;
}

.para p::first-letter {
    font-size: 2rem;
    color: darkcyan;
}

a[href*="JavaScript"] {
    background-color: wheat;
    color: rgb(55, 14, 151);
}

a[href^="https://shoyeb.notion.site/HTML-CSS"] {
    background-color: black;
    color: white;
}

a[href $= "f2bf9c18ab9?pvs=4"] {
    background-color:cadetblue;
    color: yellow;
}

a[href *= "Excel-and-Spreadsheet"] {
    border: 2px solid black;
}