 body {
    background-image:url(/HTML/Media/Photos/One\ Piece.png);

}

#opLogo {
    position: relative;
    left: 610px;
    bottom: 85px;
}

#text1 {
    position: relative;
    bottom: 96px;
    left: 100px;
    font-family: cursive;
    color: #FFFFC1;
}

.formBox {
    position: relative;
   
    height: 420px;
    width: 550px;
    left: 95px;
    bottom: 105px;
    backdrop-filter: blur(10px);
}

.Input1 {
    position: absolute;
    left: 50px;
    top:60px
    
}
.Input2 {
    position: absolute;
    left: 50px;
    top:105px
    
}
.BirthDate {
    position: absolute;
    left: 50px;
    top:150px
    
}
#gender {
    position: absolute;
    left: 50px;
    top:195px
    
}

