body {
    background-image: linear-gradient(-45deg, black, #2828a0);

}

form {
    color: azure;
    border: 2px solid cadetblue;
}

h1 {
    text-shadow: 0 0 3px #000, 0 0 5px #010101;
    color:hsl(215, 66%, 69%) ;
}

::placeholder{
    color:indianred;
}