
.container {
    display: flex;
    justify-content: space-between;
    border : 2px solid black; 
    background-color: hotpink;
    height: 30rem;
    width: 50rem;
}

.box {
    height: 10rem;
    width: 10rem;
    border: 1px solid black;
    border-radius: 20px;
    background-color: green;
    text-align: center;
    font-size: larger;
}

.box1 {
    position: relative;
    top: 100px;
    left: 100px;
    bottom: 1px;
    background-color: yellow;
}

.box2 {
    background-color: red;
    position: absolute;
    left: 5rem;
    top: 20rem;
}

.box3 {
    background-color: paleturquoise;
    position: fixed;
}