apiVersion: v1
kind: Pod
metadata:
  name: nginx-postgres
spec:
  containers:
  - name: nginx
    image: nginx
    ports:
    - containerPort: 80

  - name: postgres
    image: postgres:15
    ports:
    - containerPort: 5432
    env:
    - name: POSTGRES_USER
      value: myuser
    - name: POSTGRES_PASSWORD
      value: mypassword
    - name: POSTGRES_DB
      value: mydb