.todos-div {
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40vw;
}

.todos-div p {
    font-size:x-large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.todos-div div {
    background-color: #2a4dd6;
    color: white;
    padding: 5px;
}

