* {
    margin: 0;
    padding: 0;
}

.right {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 50px;
    background-color: #0D0C1D;
    flex-direction: row-reverse;
    gap: 50px;
}

.menu {
    height: 50px;
    background-color: #0D0C1D;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.btn {
    background-color: #BBBDF6;
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 10px;
    color: #1B1725;
    font-size: 15px;
    font-weight:bolder;
}

.btn:hover {
    background-color: white;
    box-shadow: 0 0 1rem rgba(241,218,196, 0.5);
}

.left {
    display: flex;
    justify-content: left;
    color: #D0BCD5;
    font-size: 2rem;
    align-items: center;
    color: #BBBDF6;
}

